#code-area {
  position: relative;
  overflow: hidden;
  border-radius: 5px;;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.33);
}

.recommend-slider .slick-next:before,
.recommend-slider .slick-prev:before {
  color: #000;
}
.recommend-slider .slick-slide > div {
  text-align: center;
  padding: 1px;
}
.recommend-card {
  padding: 2%;
  margin: 10px;
  max-width: calc(var(--main-width) / 4);
  min-height: 150px;
  text-align: initial;
}
.question {
  padding: 0 20px;
}
.question::before {
  content: "Q:";
  font-family: Source Code Pro;
  font-size: 18pt;
  font-weight: bold;
  position: relative;
  left: -16px;
  padding: 3px;
  margin-bottom: 8px;
  line-height: 5pt;
  display: inline-block;
  border-bottom: solid 8px var(--uxa-link-color);
}