footer {
  font-size: 8pt;
  padding: var(--page-padding);
  padding-top: 0;
  overflow:hidden; /* 触发 BFC，防止 margin 塌陷 */
}

footer > div {
  margin: 0 auto;
  max-width: var(--main-width);
  padding-bottom: var(--page-padding);
}

footer a {
  padding: 15px 1.5ex;
}

footer .grid {
  /* margin: 0 5px; */
  display: grid;
  padding-top: var(--page-padding);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}