.lesson {
  flex: 0 0 auto;
}

h1, h2 {
  display: inline-block;
}

.section {
  margin: 30px 0;
  padding: 0 1px;
}

.section > h2 > a {
  float: left;
  margin-left: -20px;
  opacity: 0;
  cursor: pointer;
  color: #409eff;
  text-decoration: none;
}

.section > h2:hover > a {
  opacity: 0.6;
}

.title-with-back {
  position: relative;
}

.title-with-back > .back {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.sticky-catalog {
  width: 240px;
  margin-left: 20px;
  padding-left: 10px;
  border-left: solid 1px #c3c3c3;
}
.sticky-catalog a {
  color: inherit;
  transition: color ease 0.3s;
}
.sticky-catalog > ul {
  margin-block-start: 0.7em;
  margin-block-end: 0;
  padding-left: 0px;
}
.sticky-catalog li {
  font-weight: 400;
  list-style: none;
}
.sticky-catalog li > a {
  display: block;
  position: relative;
  padding: 4px 0 4px 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2px;
}
.sticky-catalog li > a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -2px;
  width: 4px;
  height: 4px;
  background-color: currentColor;
  border-radius: 50%;
  transition: left ease 0.2s;
  transition: margin-top ease 0.2s;
  transition: width ease 0.2s;
  transition: height ease 0.2s;
}
.sticky-catalog a:hover {
  color: var(--uxa-link-hover-color);
}
.sticky-catalog li > a:hover {
  background-color: #ebedef;
}
.sticky-catalog li > a:hover::before {
  left: 5px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
}

/* 设置锚点偏移 */
h1, h2 {
  position: relative;
}
a[data-anchor] {
  position: absolute;
  top: -60px;
  padding-top: 60px;
}