@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

/* Digital */
:root {
  --page-padding: 48px;
  --main-width: 1192px;
  --sidebar-width: 230px;
  --titlebar-height: 40px;
  --audio-height: 30px;
}
/* Color */
:root {
  --light-bg-color: #f5f8fa;
  --dark-bg-color: #30404d;
  --uxa-link-color: #4a95eb;
  --uxa-link-hover-color: #327acc;
}
/* -----------Root End------------- */
/* -----------Theme Start------------ */
a { color: var(--uxa-link-color); }
a:hover { color: var(--uxa-link-hover-color) }

.Page {
  width: 100%;
  max-width: 100%;
  /* height: 100%;
  max-width: 100%; */
}

.Page, footer {
  padding: var(--page-padding) calc(var(--page-padding) + 20px);
  padding-bottom: 20px;
}

article {
  margin: 20px auto 10px auto;
  max-width: var(--main-width);
}

#root > div,
.Page,
article, 
footer {
  background-color: var(--light-bg-color);
}

#root > div.bp3-dark,
.bp3-dark .Page, 
.bp3-dark article, 
.bp3-dark footer {
  background-color: var(--dark-bg-color);
}

.bp3-dark .bp3-card {
  background-color: #293742;
}
/* -----------Theme end------------ */
.flex { display: flex; }
.flex.vertical { flex-direction: column; }
.flex > .none { flex: none; }
.flex > .auto { flex: auto; }
.flex.center { justify-content: center; }
.flex.start { justify-content: flex-start; }
.flex.end { justify-content: flex-end; }
.flex.between { justify-content: space-between; }
.flex.evenly { justify-content: space-evenly; }
/* -----------Editor View Start------------ */
.SidebarView {
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  position: absolute;
  top: 0;
  left: 0;
}
.TitlebarView {
  position: absolute;
  width: auto;
  height: var(--titlebar-height);
  left: var(--sidebar-width);
  display: flex;
  align-items: center;
  padding-right: 5px;
}
.EditorView {
  position: absolute;
  width: auto;
  left: var(--sidebar-width);
  top: var(--titlebar-height);
}
.ConsoleView {
  position: absolute;
  top: 100%;
  right: 0;
  left: var(--sidebar-width);
  width: auto;
  height: 30%;
  min-height: 110px;
  transform: translate3d(0,-31px,0);
  transition: transform .2s cubic-bezier(.19,1,.22,1);
}
.ConsoleView.open {
  transform: translate3d(0,-100%,0);
}
.InterfaceView { pointer-events: none; }
.InterfaceView.MarkView {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 650;
  pointer-events: none;
}
.InterfaceView.MarkView > *{
  pointer-events: auto;
}
.InterfaceView.MarkView.hidden {
  display: none;
}
.InterfaceView.AudioView {
  position: absolute;
  z-index: 610;
}
/* -----------Editor View End------------ */
/* -----------Basic start------------ */
html, body, #root, #root > div {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: "PingFang SC","Microsoft YaHei","微软雅黑",Arial,sans-serif; */
  font-family: Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  letter-spacing: 0.2pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  object-fit: cover;
}